<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Happy Birthday Ngọc Khánh</title>
  <link rel="stylesheet" href="static/screen1.css">

</head>
<body>
  <form action="#" method="post">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" type="submit" id="Button1" name="button" value="Button1">Yeu mich</button>
        <button class="btn btn-dark" type="submit" id="Button2" name="button" value="Button2">Khong Yeu</button>
    </div>
  <div id="card">
    <center><h1> Happy Birth Day Ngọc Khánh </h1></center>
    <div class="heart" id="heart1">
      <div id="half1">
        <div id="circle"></div>
        <div id="rec"></div>
      </div>
      <div id="half2">
        <div id="circle"></div>
        <div id="rec"></div>
      </div>
    </div>
    <div id="message">
      <h2>Iu Ngọc Khánh lắm <br> Nếu Khánh cũng yêu tui thì click </h2>
    </div>
    <div class="heart" id="heart2">
      <div id="half1">
        <div id="circle"></div>
        <div id="rec"></div>
      </div>
      <div id="half2">
        <div id="circle"></div>
        <div id="rec"></div>
      </div>
    </div>
  </div>
 
  
</body>
</html>